.loginContainerWrapper{
    display: flex;
}

.loginFormContainer {
  display: flex;
  margin: 32px 32px;
  padding: 18px;
  width: 90%;
  max-width: 400px;
  background-color: #E9E1BB;
  border-radius: 15px;
}

.loginForm {
  max-width: max-content;
}

.loginFormInput {
  padding: 0.5em 0em 0.5em 0em;
}

.loginFormBox {
  padding-top: 10px;
  display: flex;
}

.loginFormBox>label {
  flex: 1;
  padding: 0em 0.4em 0em 0.4em;
}

.loginFormBox>input {
  flex: 1;
  padding: 0em 0.4em 0em 0.4em;
  border-radius: 7px;
  box-sizing: border-box;
  border: 0.5px solid transparent;
}

.submitButtonContainer {
  display: flex
}

.submitButton {
  width: 80%;
  margin: 1px auto 1px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 0.5px solid transparent;
  padding: 0.2em 0em 0.2em 0em;
  background-color: #FF615C;
  color: white;
  transition: all 0.5s;
  display: inline-block;
  position: relative;
}

.submitButton:hover {
  background-color: #FF7570;
  cursor: pointer;
  padding-right: 25px;

}

.submitButton:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitButton:hover:after {
  opacity: 1;
  right: 0;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 8px;
  border: 5px solid rgb(81, 216, 81);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(81, 216, 81) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
